.Outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: #b8b4ac;
}

.Visitors {
  color: white;
  margin: 10px;
}

.Main {
  text-align: center;
  background-color: #b8b4ac;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}