.Outer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: #b8b4ac;
}

.Visitors {
  color: white;
  margin: 10px;
  font-family: cursive;
  background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
  box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 389px;
  height: 500px;
  min-height: 90vh;
  display: flex;
  padding: 50px;
  flex: 1 1 0px;
}

.Main {
  text-align: center;
  background-color: #b8b4ac;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1 1 0px;
}

.somethingElse {
  flex: 1 1 0px;
}